@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  color: #00303f;
  background-color: #e6e6e6;
}

.container {
  height: 80vh;
  width: 40vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr 3fr 1fr;
      grid-template-rows: 1fr 5fr 3fr 1fr;
}

.session-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.session-nav button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00303f;
  font-weight: 700;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-top: 4px solid #e6e6e6;
  border-bottom: 4px solid #00303f;
}

.session-nav #po-btn {
  background-color: #ff9999;
}

.session-nav #sb-btn {
  background-color: #b3ffb3;
}

.session-nav #lb-btn {
  background-color: #99ffff;
}

.chosen-session {
  border: 4px solid #00303f !important;
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5rem;
  color: #00303f;
  font-family: "seven_segment_modern";
  font-size: 7rem;
}

.clock-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.clock-control button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00303f;
  font-weight: 700;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  width: 80px;
  height: 80px;
  margin: 0 30px;
  padding: 10px 0;
  font-size: 4rem;
}

.clock-control button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: none;
}

.clock-control #play-btn {
  display: block;
}

.clock-control #pause-btn {
  display: none;
}

.set-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.set-time * {
  margin: 0 5px;
  font-size: 2rem;
}

.set-time input {
  width: 60px;
  border: none;
  color: inherit;
  background-color: inherit;
}
